@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*About page Logo *@

@*Start of columns*@
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/wecancodeit.png" />
    </div>
    <div class="col-md-6" id="contactAlign">
        <address id="contactMe">
            Kurt Weber<br />
            We Can {Code} It<br />
            50 Public Square #200<br />
            Cleveland, OH 44113<br />
        </address>

        <address>
            <strong>Email: </strong>   <a href="mailto:weberkrt@msn.com">weberkrt@msn.com</a>
        </address>
    </div>
</div>