@{
    ViewBag.Title = "We Can Code It Employee Review";
}

<div class="row">
    <!--Logo-->
    <div class="col-md-3">
        <img src="~/Images/wecancodeit.png" />
    </div>
    <div class="col-md-3">
        <h2>Employee Review</h2>
        <p>Please make sure all information is correct</p>
        <p><a class="btn btn-primary" href="~/EmployeeReviews/Index">Begin Review &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>New Department</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>