@{
    ViewBag.Title = "We Can Code It Employee Review";
}

<div class="row">
    <!--Logo-->
    <div class="col-md-3">
        <img src="~/Images/wecancodeit.png" />
    </div>
    <!--Start employee review-->
    <div class="col-md-3">
        <h2>Employee Review</h2>
        <p>Click on "Begin Review" to start employee review.  Click on "Review List" to view or edit existing reviews</p>
        <p><a class="btn btn-primary" href="~/EmployeeReviews/Create">Begin Review &raquo;</a></p>
        <p><a class="btn btn-default" href="~/EmployeeReviews">Review List &raquo;</a></p>
    </div>
    <!--Add or edit department-->
    <div class="col-md-3">
        <h2>Departments</h2>
        <p>Click on "Create New" to add additional departments.  Click on "Department List" for current department list or edit existing department information.</p>
        <p><a class="btn btn-primary" href="~/Departments/Create">Create New &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Departments">Department List &raquo;</a></p>
    </div>
    <!--Add or edit employee titles-->
    <div class="col-md-3">
        <h2>Titles</h2>
        <p>Click on Create New" to add additional titles.  Click on "Title List" for current title list or edit existing titles information.</p>
        <p><a class="btn btn-primary" href="~/Titles/Create">Create New &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Titles">Title List &raquo;</a></p>
    </div>
</div>